<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">

  <!-- ユーザー1件登録 -->
  <insert id="insertOne"> INSERT INTO m_user ( user_id , password , user_name, birthday, age,
    gender, department_id, role ) VALUES ( #{userId}, #{password}, #{userName}, #{birthday}, #{age},
    #{gender}, #{departmentId}, #{role} ) </insert>


  <!-- ユーザー複数件取得 -->
  <select id="findMany" resultType="com.example.domain.user.model.MUser"> SELECT * FROM m_user </select>
</mapper>